@media screen and (min-width: 1025px) {

    .upload-file{
        width: 70%;
        top: 89px;
        position: absolute;
        padding: 15px 32px;
    }

    .button-submit.upload{
        margin-left: 80%;
    }

    .folder-form-input{
        width: 70%;
    }

}