
@media screen and (max-width: 480px) {


    .button-submit.upload{
    margin-right: 2em;
    float: right
    }

    .upload-file{
    width: 30%;
    top: 89px;
    position: absolute;
    padding: 15px 32px;
    }

}